# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite
*.db
instance/
env/
venv/
.venv/

# Flask & environment
.env
*.pem
cert.pem
key.pem

# OS / IDE files
.DS_Store
Thumbs.db
.vscode/
.idea/

# Byte-compiled / cache
*.egg-info/
.eggs/
dist/
build/
*.log
*.sqlite3
*.db

# pytest
.cache/
.coverage
.pytest_cache/
